* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.stopwatch-section {
    max-width: 560px;
    width: 100%;
    padding: 60px;
    background: #188ab2;
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
}

.stopwatch-section .title {
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 50px;
}

.watch-wrap {
    margin-bottom: 20px;
    font-size: 40px;
}

.buttons-wrap {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.buttons-wrap .btn {
    width: 120px;
    height: 36px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: #ffffff;

    background: linear-gradient(90deg, #26a868 0%, #26a868 50%, #145233 50%, #145233 100%);
    background-repeat: no-repeat;
    background-size: 200% 100%;
    background-position: right bottom;
    background-position: left bottom;
    transition: background-position 0.25s ease-out;
}

.buttons-wrap .btn:hover {
    background-position: left bottom;
    background-position: right bottom;
}